In [1]:
import  pandas as pd

df = pd.read_csv("indexing.csv", header=None)

In [2]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,89,90,91,92,93,94,95,96,97,98
0,blimp (44).jpg,3270.166667,190.000000,0.0,0.0,31.833333,11.833333,0.333333,0.0,0.0,...,899.281145,1202.626210,0.914816,0.825645,0.866005,0.820918,13.103353,13.494971,13.151567,13.495656
1,blimp (84).jpg,150.833333,0.333333,0.0,0.0,0.000000,0.333333,0.000000,0.0,0.0,...,117.147011,180.877549,0.977867,0.955005,0.969049,0.952341,4.808702,5.185913,5.138496,5.236510
2,blimp (24).jpg,666.333333,0.000000,0.0,0.0,0.333333,0.000000,0.000000,0.0,0.0,...,33.690383,38.362901,0.997529,0.989586,0.992337,0.991288,9.096268,9.758444,9.441577,9.744648
3,blimp (40).jpg,1724.500000,0.666667,0.0,0.0,1.333333,0.000000,0.000000,0.0,0.0,...,53.953476,145.035402,0.973512,0.964780,0.986295,0.963122,9.912828,10.406562,9.989083,10.363814
4,blimp (34).jpg,381.000000,748.500000,0.0,0.0,0.000000,93.666667,0.000000,0.0,0.0,...,3.156628,3.803180,0.997099,0.989844,0.993145,0.991754,3.037962,3.183165,3.084730,3.176472

In [3]:
df[0] ='Container/' + df[0].astype(str)

In [4]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,89,90,91,92,93,94,95,96,97,98
0,Container/blimp (44).jpg,3270.166667,190.000000,0.0,0.0,31.833333,11.833333,0.333333,0.0,0.0,...,899.281145,1202.626210,0.914816,0.825645,0.866005,0.820918,13.103353,13.494971,13.151567,13.495656
1,Container/blimp (84).jpg,150.833333,0.333333,0.0,0.0,0.000000,0.333333,0.000000,0.0,0.0,...,117.147011,180.877549,0.977867,0.955005,0.969049,0.952341,4.808702,5.185913,5.138496,5.236510
2,Container/blimp (24).jpg,666.333333,0.000000,0.0,0.0,0.333333,0.000000,0.000000,0.0,0.0,...,33.690383,38.362901,0.997529,0.989586,0.992337,0.991288,9.096268,9.758444,9.441577,9.744648
3,Container/blimp (40).jpg,1724.500000,0.666667,0.0,0.0,1.333333,0.000000,0.000000,0.0,0.0,...,53.953476,145.035402,0.973512,0.964780,0.986295,0.963122,9.912828,10.406562,9.989083,10.363814
4,Container/blimp (34).jpg,381.000000,748.500000,0.0,0.0,0.000000,93.666667,0.000000,0.0,0.0,...,3.156628,3.803180,0.997099,0.989844,0.993145,0.991754,3.037962,3.183165,3.084730,3.176472

In [5]:
df.to_csv("img_index.csv", index=False)